:root {
  --color-bg: #fff;
  --color-main: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  padding: 48px 32px;
  background: var(--color-bg);
  color: var(--color-main);
  font-family: Helvetica, sans-serif;
  overflow: hidden;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
h1 {
  font-size: 48px;
}
input {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}
header button {
  position: relative;
  height: 100px;
  width: 200px;
  background-color: #000;
  border: solid 4px #fff;
  border-radius: 50px;
  outline-width: 5px;
  cursor: pointer;
}

.icon {
  display: block;
  position: relative;
  height: 60px;
  width: 60px;
  margin: 16px 25px;
  background-color: grey;
  border-radius: 100%;
  content: "";
  transition: background-color 0.3s, transform 0.3s;
}

span {
  position: absolute;
  left: 50%;
  bottom: 100%;
  width: 100%;
  padding: 12px 0;
  font-size: 20px;
  color: var(--color-main);
  transform: translateX(-50%);
}

main {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

p {
  padding: 12px 0;
  font-size: 24px;
  /* text-align: center; */
}
main button {
  margin: 24px 0;
  padding: 24px 32px;
  font-size: 32px;
  border: solid 0.3vw;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--color-main);
  background: var(--color-bg);
  color: var(--color-bg);
  /* dodawanie dwóch właściwości z różnymi wartościami pozwala na podałszą dynamiczną zmiane tych kolorów ???? */
  color: var(--color-main);
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

main button:hover {
  background: var(--color-main);
  color: var(--color-bg);
}

/* DARK MODE  - wariand 2 dla trybu ciemnego*/
/* 
body.dark,
body.dark main button {
  background: var(--color-main);
  color: #fff;
}

body.dark button:hover {
  background: #fff;
  color: var(--color-main);
} */

/* Zmienne w CSS - wariant 3 */

body.dark {
  --color-bg: #000;
  --color-main: #fff;
}

body.dark .icon {
  background: yellow;
  transform: translateX(85px);
}

body.dark .icon::after {
  /* pseudoelement */
  display: block;
  position: absolute;
  left: -5px;
  top: 5px;
  height: 50px;
  width: 45px;
  content: "";
  background-color: #000;
  border-radius: 100%;
}
